visual_novel/renpy-8.2.1-sdk/renpy*/*
visual_novel/renpy-8.2.1-sdk/doc/*
visual_novel/renpy-8.2.1-sdk/gui/*
visual_novel/renpy-8.2.1-sdk/launcher/*
visual_novel/renpy-8.2.1-sdk/lib/*
visual_novel/renpy-8.2.1-sdk/module/*
visual_novel/renpy-8.2.1-sdk/tmp/*
visual_novel/renpy-8.2.1-sdk/sdk/*
visual_novel/renpy-8.2.1-sdk/tutorial/*
visual_novel/renpy-8.2.1-sdk/update/*
visual_novel/renpy-8.2.1-sdk/the_question/*
visual_novel/renpy-8.2.1-sdk/renpy*
visual_novel/renpy-8.2.1-sdk/LICENSE*
visual_novel/renpy-8.2.1-sdk/log*
visual_novel/renpy-8.2.1-sdk/sdk*/*

